.nav {
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;

    .navUl {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .navUl li {
        list-style: none;
        padding: 0.5rem;

        .navUl li a {
            color: white;
        }

        .navUl li a:hover {
            color: black;
        }
    }

    .navUl li.selected a {
            color: black;
    }    
}