.reddog_nav {
    border-bottom: 1px solid white;
    padding: 1rem 2rem 0;
    width: 100%;

    .reddog_navUl {
        display: flex;
        gap: 1rem;
    }

    .reddog_navUl li {
        list-style: none;
        padding: 0.5rem;

        .reddog_navUl li a:hover {
            color: red;
        }

        &.selected {
            color: red;
        }        
    }
}

